# IBM watsonx.ai Configuration
WATSONX_API_KEY=evyxtjAMKpL36SOChPp6ETAplMJq0pEw6F04Ur-_Y7Gv
WATSONX_URL=https://us-south.ml.cloud.ibm.com/ml/v1/text/generation?version=2023-05-29
WATSONX_PROJECT_ID=ce28f6ea-0113-4fea-b875-01da6c4b5897
WATSONX_MODEL_ID=ibm/granite-4-h-small

# App Configuration
APP_LANGUAGE=en
DEMO_MODE=false
